img {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.398); 
position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
  height: 620px;
  z-index: 0;
  border-top-left-radius: 60px;
  border-end-start-radius: 60px;
  pointer-events: none;/
}





.container {

    max-width: 400px;
      margin-top: 5px 0px;
      Background-color:#000000;
      border-radius: 60px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.398);
      padding: 40px;
      border: 20px solid #004cff;
      z-index: 1;
      position: relative;
}
h1 {
font-size: 60px;
        color: #fff;
        padding: 0px 25px;
        margin-top: 10px;
}
body {
font-family: Arial, sans-serif;
    margin: 0;
        Color: #fff;
        Padding: 10px 75px;
    Background: linear-gradient(to right, #00ff5e, #004cff);
}

.namebtn-hover {
transition: 0.5s ease;    
    display: inline-block;
        color: #fff;
            background: #004cff;
            cursor:pointer;
            padding: 20px 70px; 
            font-size: 20px;
        text-decoration: none;
    border-radius: 60px;
border: 4px solid #252525;
}

.namebtn-hover:hover {    
    display: inline-block;
        color: #000000;
            background: #00ff5e;
            cursor:pointer;
            padding: 20px 70px; 
            font-size: 20px;
        text-decoration: none;
    border-radius: 60px;
border: 4px solid #ffffff;
box-shadow: 0 0 10px #00ff5e;
}

.telefonebtn-hover {
transition: 0.5s ease;    
    display: inline-block;
        color: #fff;
            background: #004cff;
            cursor:pointer;
            padding: 20px 70px; 
            font-size: 20px;
        text-decoration: none;
    border-radius: 60px;
border: 4px solid #252525;
}

.telefonebtn-hover:hover {    
    display: inline-block;
        color: #000000;
            background: #00ff5e;
            cursor:pointer;
            padding: 20px 70px; 
            font-size: 20px;
        text-decoration: none;
    border-radius: 60px;
border: 4px solid #ffffff;
box-shadow: 0 0 10px #00ff5e;
}

.emailbtn-hover {
transition: 0.5s ease;    
    display: inline-block;
        color: #fff;
            background: #004cff;
            cursor:pointer;
            padding: 20px 70px; 
            font-size: 20px;
        text-decoration: none;
    border-radius: 60px;
border: 4px solid #252525;
}

.emailbtn-hover:hover {    
    display: inline-block;
        color: #000000;
            background: #00ff5e;
            cursor:pointer;
            padding: 20px 70px; 
            font-size: 20px;
        text-decoration: none;
    border-radius: 60px;
border: 4px solid #ffffff;
box-shadow: 0 0 10px #00ff5e;
}   

.senhabtn-hover {
transition: 0.3s ease;
    display: inline-block;
        color: #fff; 
            background: #004cff;
                cursor:pointer;
                    padding: 20px 70px; 
                font-size: 20px;
            text-decoration: none;
        border-radius: 60px;
border: 4px solid #252525;
}

.senhabtn-hover:hover {
    background: #00ff5e;
    color: #000000;
    box-shadow: 0 0 10px #00ff5e;
    border: 4px solid #fff;
}

.sairbtn-hover {
transition: 0.5s ease;
    display: inline-block;
        color: #ffffff;
            background: #004cff;
            cursor:pointer;
            padding: 15px 20px; 
            font-size: 20px;
        text-decoration: none;
    border-radius: 120px;
border: 4px solid #252525;
}

.sairbtn-hover:hover {
display: inline-block;
        color: #ffffff;
            background: #00ff5e;
                cursor:pointer;
                padding: 20px 50px; 
                font-size: 20px;
        text-decoration: none;
    border-radius: 120px;
border: 4px solid #ffffff;
box-shadow: 0 0 10px #00ff5e;
}

.acessarbtn-hover {
transition: 0.3s ease;
    display: inline-block;
        color: #fff; 
            background: #004cff;
                cursor:pointer;
                    padding: 20px 50px; 
                font-size: 20px;
            text-decoration: none;
        border-radius: 60px;
border: 4px solid #252525;
}

.acessarbtn-hover:hover {
    display: inline-block;
        color: #ffffff; 
            background: #00ff5e;
                cursor:pointer;
                    padding: 20px 70px; 
                font-size: 20px;
            text-decoration: none;
        border-radius: 60px;
border: 4px solid #fff;
box-shadow: 0 0 10px #00ff5e;
}

.copyright-hover {
transition: 0.5s ease-in;    
  display: inline-block;
    cursor:pointer;
        color: #252525;
        padding: 20px 25px; 
    font-size: 15px;
text-decoration: none;
border-radius: 60px;
border: 3px solid #252525;
}

.copyright-hover:hover {    
                cursor:pointer;
                    color: #ffff;
        padding: 20px 25px; 
    font-size: 15px;
text-decoration: none;
border: 3px solid #ffffff;
background-color: #131313c4;
border-radius: 60px;
}

footer {
    margin-left: 132px;
    padding: 50px;
    text-align: center;
    margin-bottom: 5px;
    z-index: 1;
    position: relative;
}