    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(to right, #00ff5e, #004cff);
      flex-direction: column;
      min-height: 100vh;
      display: flex;
    }

    .container {
      max-width: 1000px;
      margin: 20px 110px;
      background-color: #000000;
      border-radius: 60px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.398);
      padding: 90px 20px;
      border: 20px solid #004cff;
    }
    .container h1 {
      text-align: center;
      font-size: 2.5vw;
      margin-bottom: 30px;
    }
    .header {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }

    .user-icon {
      width: 40px;
      height: 40px;
      background-color: #007bff;
      border-radius: 50%;
      margin-right: 10px;
      border: 2px solid #252525;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
    }

    .item {
      margin-bottom: 20px;
    }

    .item-name {
      font-weight: bold;
      font-size: 18px;
      color: #ffffff;
    }

    .item-code {
      font-size: 14px;
      color: rgb(255, 255, 255);
    }

    .total {
      text-align: right;
      font-size: 18px;
      font-weight: bold;
      margin-top: 1px;
      color: #ffffff;
    }
    .sairbtn-hover {
      transition: 0.5s ease;
          display: inline-block;
              color: #ffffff;
                  background: #004cff;
                  cursor:pointer;
                  padding: 15px 20px; 
                  font-size: 20px;
              text-decoration: none;
          border-radius: 120px;
      border: 4px solid #252525;
      margin-top: 10px;
      }
    .sairbtn-hover:hover {
      display: inline-block;
              color: #ffffff;
                  background: #00ff5e;
                      cursor:pointer;
                      padding: 20px 50px; 
                      font-size: 20px;
              text-decoration: none;
          border-radius: 120px;
      border: 4px solid #ffffff;
      box-shadow: 0 0 10px #00ff5e;
      }
    footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
